h2 {
  text-align: left;
  margin: 10px;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.App-logo {

  height: 12vmin;
  margin-bottom: -30px;
}

.App-appstore {

  height: 10vmin;
  top: 35px;
  left: 2400px;

  pointer-events: none;
  vertical-align: middle;
  margin-left:  1700px;
  margin-top: -70px;

}

.landingText {
  font-family: Helvetica;
  text-align: center;
  font-size: 40px;
  color: white;
  margin-left: 300px;
  margin-right: 300px;

}


.button-logo {

  height: 10vmin;
  cursor: pointer;
 width: 7vw;
margin-left: 1200px;
 margin-bottom: 100px;

 
  

}

.topText{

  margin-left: -240px;
}

.header{
  font-family: Helvetica;
  background-color: #454899;
  color: white;
  padding: 50px;
  font-size: 100px;
  text-decoration: none;
  display: flex;
  align-items: center;

}


html,body{
  height: 100%;
 
}

.bg{
   background-image: url("./notes3.jpeg");
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%
}

.createButton {
  background-color: #A6A8E8;
  border: none;
  color: white;
  font-size: 48px;
  padding-top: 100px;
  padding-bottom:100px;
  padding-left: 200px;
  padding-right: 200px;
  text-decoration: none;
  cursor: pointer;


  width: 30vw;
  margin-left: 870px;
  margin-top: 400px;

 


}

.createButton:hover {
background-color:  #454899;
}


#qr {
  width: 128px;  /* Or whatever */
  height: 128px; /* Or whatever */
  /**background-color: transparent; **/
  padding: 20px;

}

#main {
  height: 100%;
}

.headerSession{
  font-family: Helvetica;
  background-color: #454899;
  color: white;
  padding: 50px;
  font-size: 40px;
  text-decoration: none;

}


.banner0 { 
margin-top: -40px;
background-color: #A6ADE8;
padding: 55px;
}

.banner1 { 
margin-top: -40px;
background-color: #A6E8BC;
padding: 55px;

}

.banner2 { 
margin-top: -40px;
background-color: #E8A6A6;
padding: 55px;

}

.banner3 { 
margin-top: -40px;
background-color: #A6D4E8;
padding: 55px;

}

.banner4 { 
margin-top: -40px;
background-color: #E3A6E8;
padding: 55px;

}

.voteButton {
  height:50px;
  width: 287px;
}

.tabParent {
  display: flex;
  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.tab {
  flex: 1;

}


.voteButton {
  height:50px;
  width: 287px;
}

.note {
  height: 275px;
  width: 275px;
  background-color: white;
  border: solid black 2px;
  cursor: -webkit-grab;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
  font: Helvetica;
  color: black;
  font-size: 30px;
}

.noteBanner0 {
  padding: 2px;
  background-color: #A6ADE8;
}

.noteBanner1 {
  padding: 2px;
  background-color: #A6E8BC;
}

.noteBanner2 {
  padding: 2px;
  background-color: #E8A6A6;
}

.noteBanner3 {
  padding: 2px;
  background-color: #A6D4E8;
}

.noteBanner4 {
  padding: 2px;
  background-color: #E3A6E8;
}

.handle {
  height: 250px;
  width: 250px;

}

.react-tabs__tab--selected {

  background-image: linear-gradient(to top, #A6ADE8 , lightgray);
}



.react-tabs {
  height: 100%;
}



.text {
  text-align: left;
  margin: 5px;
  white-space: pre-line;
}
.react-tabs__tab-panel {
  height: 100%;
}

.promo: {
  margin-left: 5px;
  text-align: left;
}

.noteInput {
  background-color: lightyellow;
  border: none;
  margin-top: 3px;

}

.noteInput:focus {
    outline: none !important;
    border:none;
    box-shadow: 0 0 10px #719ECE;
}

.controls {
  margin: 4px;
}

.edit {
  margin-right: 10px;
  cursor: default;
}

.delete {
  cursor: default;
}

.votes {
  margin-right: 10px;
}

.App-link {
  color: #61dafb;
}

.App-visited {
  color: 'crimson';
  text-decoration: none;
}


#addTabButton {
    height: 10vmin;
  /*top: 675px;
  left: 1480px;*/
   cursor: pointer;
  position: relative;
    float: right;
    margin-top: -140px;
 


}





