/*h2 {
  text-align: left;
  margin: 10px;
}*/

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  font-family: Avenir;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #A6ADE8;
  font-size: calc(10px + 2vmin);
  color: white;
}

.noteInput {
  background-color: lightyellow;
  border: none;
  margin-top: 3px;
  font-family: Avenir;
}

.noteInput:focus {
    outline: none !important;
    border:none;
    background-color: white;
    font-family: Avenir;
    box-shadow: 0 0 10px #719ECE;
}

.controls {
  margin: 4px;
  margin-left: 8px;
  margin-right: 8px;
}

.edit {
  margin-right: 10px;
  cursor: default;
}

.edit:hover{
  cursor: pointer;
}

.thumbButton {
    height: 2.1vmin;
    margin-right: 4px;
    margin-top: 4px;
    opacity: 0.8;
}


.thumbIcon {
    height: 2.1vmin;
    margin-right: 4px;
    margin-top: 4px;
    opacity: 0.4;
}


.delete {
  cursor: pointer;
  margin-left: auto;
  color:white;

}


.App-link {
  color: #61dafb;
}

.App-visited {
  color: 'crimson';
  text-decoration: none;
}

.flexContainer {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;


}

.flexV0 {
  display: flex;
  flex-direction: column;
  background-color: #A6ADE8;


}

.flexV1 {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background-color: #A6E8BC;

}

.flexV2 {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background-color: #E8A6A6;

}


.flexV3 {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background-color: #A6D4E8;

}


.flexV4 {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background-color: #E3A6E8;

}

.voteButton {

  margin-right: 50px;
  height:40px;
  width: 200px;
  border-radius: 20px;
  background-color: #7E7DB1;
  color: black;
  border: solid gray 1px;
  cursor: pointer;
  outline: none !important;
  font-weight: bolder;
  font-family: Avenir;
  font-size: 20.7px;
}

#span1 {

}

.note {
  height: 250px;
  width: 250px;
  border-radius: 0px;
  font-family: Avenir;
  font-size: 20px;
  background-color: #FFFFE8;
  border: solid lightgray 1px;
  cursor: -webkit-grab;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);

}


.noteBanner0{
  padding: 2px;
  background-color: #A6ADE8;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

}
.noteBanner1 {
  padding: 2px;
  background-color: #A6E8BC;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.noteBanner2 {
  padding: 2px;
  background-color: #E8A6A6;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.noteBanner3 {
  padding: 2px;
  background-color: #A6D4E8;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.noteBanner4 {
  padding: 2px;
  background-color: #E3A6E8;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.tabCl {
  display: inline-flex;
  margin-left: 200px
}
.tabCl1 {
  display: inline-flex;
  margin-left: 200px
}

.banner0{
  background-color: #A6ADE8;
  display: flex;
}
.banner1 {
  background-color: #A6E8BC;
  display: flex;
}

.banner2 {
  background-color: #E8A6A6;
  display: flex;
}

.banner3 {
  background-color: #A6D4E8;
  display: flex;
}

.banner4 {
  background-color: #E3A6E8;
  display: flex;
}


.handle {
  height: 250px;
  width: 250px;
}

.react-tabs__tab--selected {

  background-image: linear-gradient(to top, white , white);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-top: 10px;
}


html{
  height: 100%;
  margin: 0px;
  background-color: white;
}

#main {
  height: 100%;
}

.react-tabs {
  height: 100%;
  padding: 10px;

}

.text {
  text-align: left;
  margin: 5px;
  white-space: pre-line;
}
.react-tabs__tab-panel {
  height: 100%;
}

.promo: {
  margin-left: 5px;
  text-align: left;
}

#qr {
  width: 180px;  /* Or whatever */
  height: 180px; /* Or whatever */
  background-color: white;
  padding-top: 10px;
  padding-right: 15px;

}

.codeC{
  align-self: flex-start;
  color: black;
  font-weight: bolder;
  font-family: Avenir;
  align-self: center;
  alignment-baseline: baseline;
  font-size: 20.7px;
}

.brain {
  flex: 1;

}

.react-tabs__tab-list {
  border: none;
  color: white;
}

.react-tabs {
  padding-bottom: 0px;
}

.react-tabs__tab--selected {
  padding-bottom: 19px;
  margin-bottom: -9px;

}


.tabs-body {
     position: absolute;
     top: 20px;
     right: 100px;
  }
    .tabs-header {
      display: table;
      width: 100%;
      list-style-type: none;
    }
      .tabs-header li {
        display: table-cell;
        text-align: center;
        color: #ECF0F1;
        cursor: pointer;
      }
        .tabs-header li > a {
          display: block;
          padding: 15px;
          background: #A6ADE8;
          transition: all .2s ease-in;
          transform: skew(-40deg);
        }
          .tabs-header li > a span {
            display: block;
            transform: skew(40deg);
          }
        .tabs-header li > a:hover {
          background: black;
          color: #F7F9F9;
        }
        .tabs-header li.active > a {
          background: black;
        }

    .tabs-content {
      margin-top: 0px;
      position: relative;
      text-align: left;
      padding-left: 15px;
      color: black;
      overflow: hidden;
    }
      .tabs-content .tabs-textItem {
        display: none;
        transform: translateY(100%);
      }
      .tabs-content .tabs-textItem.show {
        display: block;
        transform: translateY(0);
        color: black;
        animation: change .49s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      .tabs-content .tabs-textItem p {
        font: Avenir;
        color: black;
      }

.logo-paragraph {
  margin-top: 0px;
  color: white;
}

.logo-paragraph-top {
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 900;

  color: white;
  font-size: calc(35px + 2vmin);

}

.slantedButton {
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  display: inline-block;
  margin-right: 50px;
  height:40px;
  width: 200px;
  background-color: #7E7DB1;
  color: black;
  border: solid gray 1px;
  cursor: pointer;
}

.Name {
  position: absolute;
  top: 20px;
  left: 30px;
}

@keyframes change {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
